.container{
    margin: auto;
    max-width: 600px;
}

.done{
    text-decoration: line-through;
    color: gray;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 15px;
    margin-top: 15px;
    width: 100%;
    position: relative; /* Adicionado */
}

.card {
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: skyblue;
    color: white;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.cardModal {
    padding: 20px;
    background-color: white;
}

.deleteButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 16px;
}

.checkButton {
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: static;
    width: fit-content;
    margin-top: 16px;
}